@charset "UTF-8";

/*
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
    background-color: #a3edde;
    font-family: Arial, Helvetica, sans-serif;
}
h1#principal {
    text-align: center;
    background-color:#009444;
    color: white;
}
h1 {
    color:#009444;
}
h2 {
    color: #27F53F;
}
.basico{
    color: #23b234;
}
.intermediario{
    color: #64E034;
}
.avancado{
    color: #638514;
}
.destaque{
    background-color: white;
    color: red;
}